section.section
 .container
    h2.section__h2 
       a(href="#").section__h2-link Trending TV Shows
    .movies 
        .movies-item
            a(href="#").movies__link
                img(src=require('../images/posters/01.png'), alt=01).movies__img
        .movies-item
            a(href="#").movies__link
                img(src=require('../images/posters/02.png'), alt=02).movies__img
        .movies-item
            a(href="#").movies__link
                img(src=require('../images/posters/03.png'), alt=03).movies__img
        .movies-item
            a(href="#").movies__link
                img(src=require('../images/posters/04.png'), alt=04).movies__img
        .movies-item
            a(href="#").movies__link
                img(src=require('../images/posters/05.png'), alt=05).movies__img
        .movies-item
            a(href="#").movies__link
                img(src=require('../images/posters/06.png'), alt=06).movies__img
section.section
 .container
    h2.section__h2 
       a(href="#").section__h2-link Trending Movies
    .movies 
        .movies-item
            a(href="#").movies__link
                img(src=require('../images/posters/07.png'), alt=01).movies__img
        .movies-item
            a(href="#").movies__link
                img(src=require('../images/posters/08.png'), alt=02).movies__img
        .movies-item
            a(href="#").movies__link
                img(src=require('../images/posters/09.png'), alt=03).movies__img
        .movies-item
            a(href="#").movies__link
                img(src=require('../images/posters/10.png'), alt=04).movies__img
        .movies-item
            a(href="#").movies__link
                img(src=require('../images/posters/11.png'), alt=05).movies__img
        .movies-item
            a(href="#").movies__link
                img(src=require('../images/posters/12.png'), alt=06).movies__img
    button.section__btn See more
section.section
 .container
    h2.section__h2 
       a(href="#").section__h2-link Popular Genres
    .genres
        .genres-item.genres-item_romance
            .genres-icon 
                img(src=require('../images/genres/romance.svg'), alt='').genres__image
            h3.genres__title Romance
        .genres-item.genres-item_drama
            .genres-icon
                img(src=require('../images/genres/drama.svg'), alt='').genres__image
            h3.genres__title Drama
        .genres-item.genres-item_historical
            .genres-icon
                img(src=require('../images/genres/Historical.svg'), alt='').genres__image
            h3.genres__title Historical
        .genres-item.genres-item_action
            .genres-icon
                img(src=require('../images/genres/Action.svg'), alt='').genres__image
            h3.genres__title Action
        .genres-item.genres-item_sci-fi
            .genres-icon
                img(src=require('../images/genres/Sci-fi.svg'), alt='').genres__image
            h3.genres__title Sci-fi
        .genres-item.genres-item_horror
            .genres-icon
                img(src=require('../images/genres/Horror.svg'), alt='').genres__image
            h3.genres__title Horror
        .genres-item.genres-item_comedy
            .genres-icon
                img(src=require('../images/genres/Comedy.svg'), alt='').genres__image
            h3.genres__title Comedy
        .genres-item.genres-item_documentary
            .genres-icon
                img(src=require('../images/genres/Documentary.svg'), alt='').genres__image
            h3.genres__title Documentary
section.section
 .container
    h2.section__h2 
       a(href="#").section__h2-link Popular Actors & Directors
    .actors 
        .actors-item 
            a(href="").actors__link 
                img(src=require('../images/actors/01.png'), alt='').actors__img
            h3.actors__title Samantha Bowen
        .actors-item 
            a(href="").actors__link 
                img(src=require('../images/actors/02.png'), alt='').actors__img
            h3.actors__title Rhys Birch
        .actors-item 
            a(href="").actors__link 
                img(src=require('../images/actors/03.png'), alt='').actors__img
            h3.actors__title James Holloway
        .actors-item 
            a(href="").actors__link 
                img(src=require('../images/actors/04.png'), alt='').actors__img
            h3.actors__title Joshua Walton
        .actors-item 
            a(href="").actors__link 
                img(src=require('../images/actors/05.png'), alt='').actors__img
            h3.actors__title Patrick Elliott
        .actors-item 
            a(href="").actors__link 
                img(src=require('../images/actors/06.png'), alt='').actors__img
            h3.actors__title Morgan O'Neill
section.section
 .container
    .marketing 
        .marketing-item 
            a(href="#").marketing__link 
                img(src=require('../images/marketing/markering01.png'), alt='').marketing__img.first-item
        .marketing-item 
            a(href="#").marketing__link  
                img(src=require('../images/marketing/markering02.png'), alt='').marketing__img.last-item
section.section
 .container
    .offer
        h2.offer__title Are You New Here ? Don’t&nbsp;wait, Register Now. 
        button.offer__btn Register Now

